.align-center {
    text-align: center;
}

.align-center-img {
    text-align: center;
    height: 90%;
}

.text-container-aligned {
    text-align: center;
    margin: auto;
    width: 80%;
}

.text-container {
    margin: auto;
    width: 80%;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
}

.navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

@media (max-width: 640px){ /**Phone Navbar**/
    .navbar a {
        float: left;
        display: block;
        color: #f2f2f2;
        text-align: center;
        padding: 7px 8px;
        text-decoration: none;
    }
}

.navbar a:hover {
    background: #ddd;
    color: black;
}

.main {
    margin-top: 100px;
}

html {
    height: 100%;
}

body {
    font-family: helvetica, sans-serif;
    height: 100%;
    margin: 100px 0;
}

.row {
    display: flex;
    flex-wrap: wrap;
}


.column img {
    margin-top: 10px;
    vertical-align: middle;
    width: 100%;
    max-width: 640px;
}


.column {
    flex: 100%;
    max-width: 100%;
}

.x-out {
    position: fixed;
    top: 10%;
    right: 10%;
    width: 30px;
    height: 30px;
    -webkit-filter: brightness(0) invert(1);
    filter: brightness(0) invert(1);
}

.left-arrow{
    position: fixed;
    bottom: 7%;
    left: 10%;
    -webkit-filter: brightness(0) invert(1);
    filter: brightness(0) invert(1);
}

.right-arrow{
    position: fixed;
    bottom: 7%;
    right: 10%;
    -webkit-filter: brightness(0) invert(1);
    filter: brightness(0) invert(1);
}



